.blooket-hax-container {
  width: 100%;
  display: flex;
  overflow: auto;
  min-height: 100vh;
  align-items: center;
  flex-direction: column;
}
.blooket-hax-thq-dropdown {
  top: 99px;
  left: 126px;
  cursor: pointer;
  display: inline-block;
  position: absolute;
  border-radius: var(--dl-radius-radius-radius2);
}
.blooket-hax-dropdown-toggle {
  top: 0px;
  fill: #595959;
  left: 0px;
  color: #595959;
  width: 100%;
  display: inline-flex;
  position: absolute;
  align-items: center;
  padding-top: var(--dl-space-space-halfunit);
  padding-left: var(--dl-space-space-unit);
  border-radius: var(--dl-radius-radius-radius2);
  padding-right: var(--dl-space-space-unit);
  padding-bottom: var(--dl-space-space-halfunit);
}
.blooket-hax-text {
  top: -24px;
  right: -389px;
  position: absolute;
  font-size: 25px;
  font-style: normal;
  text-align: center;
  font-weight: 500;
  vertical-align: middle;
}
.blooket-hax-dropdown-arrow {
  top: 13px;
  right: 16px;
  position: absolute;
  transition: 0.3s;
}
.blooket-hax-icon {
  top: 0px;
  left: 0px;
  width: 18px;
  height: 18px;
  position: absolute;
  transition: 0.3s;
}
.blooket-hax-dropdown-list {
  left: 0%;
  width: max-content;
  display: none;
  z-index: 100;
  position: absolute;
  min-width: 100%;
  transition: 0.3s;
  align-items: stretch;
  border-color: #D9D9D9;
  border-width: 1px;
  border-radius: var(--dl-radius-radius-radius4);
  flex-direction: column;
  list-style-type: none;
  background-color: var(--dl-color-gray-white);
  list-style-position: inside;
}
.blooket-hax-dropdown {
  cursor: pointer;
  display: inline-block;
  position: relative;
  border-radius: var(--dl-radius-radius-radius2);
}
.blooket-hax-dropdown-toggle01 {
  fill: #595959;
  color: #595959;
  width: 100%;
  display: inline-flex;
  transition: 0.3s;
  align-items: center;
  padding-top: var(--dl-space-space-halfunit);
  padding-left: var(--dl-space-space-unit);
  border-radius: var(--dl-radius-radius-radius4);
  padding-right: var(--dl-space-space-unit);
  padding-bottom: var(--dl-space-space-halfunit);
}
.blooket-hax-dropdown-toggle01:hover {
  fill: #fff;
  color: #fff;
  background-color: #595959;
}
.blooket-hax-text01 {
  width: 100%;
  cursor: pointer;
  display: flex;
  font-size: 14px;
  font-style: normal;
  font-weight: 500;
}
.blooket-hax-dropdown01 {
  cursor: pointer;
  display: inline-block;
  position: relative;
  border-radius: var(--dl-radius-radius-radius2);
}
.blooket-hax-dropdown-toggle02 {
  fill: #595959;
  color: #595959;
  width: 100%;
  display: inline-flex;
  transition: 0.3s;
  align-items: center;
  padding-top: var(--dl-space-space-halfunit);
  padding-left: var(--dl-space-space-unit);
  border-radius: var(--dl-radius-radius-radius4);
  padding-right: var(--dl-space-space-unit);
  padding-bottom: var(--dl-space-space-halfunit);
}
.blooket-hax-dropdown-toggle02:hover {
  fill: #fff;
  color: #fff;
  background-color: #595959;
}
.blooket-hax-text02 {
  width: 100%;
  cursor: pointer;
  display: flex;
  font-size: 14px;
  font-style: normal;
  font-weight: 500;
}
.blooket-hax-dropdown02 {
  cursor: pointer;
  display: inline-block;
  position: relative;
  border-radius: var(--dl-radius-radius-radius2);
}
.blooket-hax-dropdown-toggle03 {
  fill: #595959;
  color: #595959;
  width: 100%;
  display: inline-flex;
  transition: 0.3s;
  align-items: center;
  padding-top: var(--dl-space-space-halfunit);
  padding-left: var(--dl-space-space-unit);
  border-radius: var(--dl-radius-radius-radius4);
  padding-right: var(--dl-space-space-unit);
  padding-bottom: var(--dl-space-space-halfunit);
}
.blooket-hax-dropdown-toggle03:hover {
  fill: #fff;
  color: #fff;
  background-color: #595959;
}
.blooket-hax-text03 {
  width: 100%;
  cursor: pointer;
  display: flex;
  font-size: 14px;
  font-style: normal;
  font-weight: 500;
}
.blooket-hax-thq-dropdown1 {
  top: 104px;
  left: 297px;
  cursor: pointer;
  display: inline-block;
  position: absolute;
  border-radius: var(--dl-radius-radius-radius2);
}
.blooket-hax-dropdown-list1 {
  left: 0%;
  width: max-content;
  display: none;
  z-index: 100;
  position: absolute;
  min-width: 100%;
  transition: 0.3s;
  align-items: stretch;
  border-color: #D9D9D9;
  border-width: 1px;
  border-radius: var(--dl-radius-radius-radius4);
  flex-direction: column;
  list-style-type: none;
  background-color: var(--dl-color-gray-white);
  list-style-position: inside;
}
.blooket-hax-dropdown03 {
  cursor: pointer;
  display: inline-block;
  position: relative;
  border-radius: var(--dl-radius-radius-radius2);
}
.blooket-hax-dropdown-toggle04 {
  fill: #595959;
  color: #595959;
  width: 100%;
  display: inline-flex;
  transition: 0.3s;
  align-items: center;
  padding-top: var(--dl-space-space-halfunit);
  padding-left: var(--dl-space-space-unit);
  border-radius: var(--dl-radius-radius-radius4);
  padding-right: var(--dl-space-space-unit);
  padding-bottom: var(--dl-space-space-halfunit);
}
.blooket-hax-dropdown-toggle04:hover {
  fill: #fff;
  color: #fff;
  background-color: #595959;
}
.blooket-hax-text04 {
  width: 100%;
  cursor: pointer;
  display: flex;
  font-size: 14px;
  font-style: normal;
  font-weight: 500;
}
.blooket-hax-dropdown04 {
  cursor: pointer;
  display: inline-block;
  position: relative;
  border-radius: var(--dl-radius-radius-radius2);
}
.blooket-hax-dropdown-toggle05 {
  fill: #595959;
  color: #595959;
  width: 100%;
  display: inline-flex;
  transition: 0.3s;
  align-items: center;
  padding-top: var(--dl-space-space-halfunit);
  padding-left: var(--dl-space-space-unit);
  border-radius: var(--dl-radius-radius-radius4);
  padding-right: var(--dl-space-space-unit);
  padding-bottom: var(--dl-space-space-halfunit);
}
.blooket-hax-dropdown-toggle05:hover {
  fill: #fff;
  color: #fff;
  background-color: #595959;
}
.blooket-hax-text05 {
  width: 100%;
  cursor: pointer;
  display: flex;
  font-size: 14px;
  font-style: normal;
  font-weight: 500;
}
.blooket-hax-dropdown05 {
  cursor: pointer;
  display: inline-block;
  position: relative;
  border-radius: var(--dl-radius-radius-radius2);
}
.blooket-hax-dropdown-toggle06 {
  fill: #595959;
  color: #595959;
  width: 100%;
  display: inline-flex;
  transition: 0.3s;
  align-items: center;
  padding-top: var(--dl-space-space-halfunit);
  padding-left: var(--dl-space-space-unit);
  border-radius: var(--dl-radius-radius-radius4);
  padding-right: var(--dl-space-space-unit);
  padding-bottom: var(--dl-space-space-halfunit);
}
.blooket-hax-dropdown-toggle06:hover {
  fill: #fff;
  color: #fff;
  background-color: #595959;
}
.blooket-hax-text06 {
  width: 100%;
  cursor: pointer;
  display: flex;
  font-size: 14px;
  font-style: normal;
  font-weight: 500;
}
.blooket-hax-thq-dropdown2 {
  top: 107px;
  left: 290px;
  cursor: pointer;
  display: inline-block;
  position: absolute;
  border-radius: var(--dl-radius-radius-radius2);
}
.blooket-hax-dropdown-list2 {
  left: 0%;
  width: max-content;
  display: none;
  z-index: 100;
  position: absolute;
  min-width: 100%;
  transition: 0.3s;
  align-items: stretch;
  border-color: #D9D9D9;
  border-width: 1px;
  border-radius: var(--dl-radius-radius-radius4);
  flex-direction: column;
  list-style-type: none;
  background-color: var(--dl-color-gray-white);
  list-style-position: inside;
}
.blooket-hax-dropdown06 {
  cursor: pointer;
  display: inline-block;
  position: relative;
  border-radius: var(--dl-radius-radius-radius2);
}
.blooket-hax-dropdown-toggle07 {
  fill: #595959;
  color: #595959;
  width: 100%;
  display: inline-flex;
  transition: 0.3s;
  align-items: center;
  padding-top: var(--dl-space-space-halfunit);
  padding-left: var(--dl-space-space-unit);
  border-radius: var(--dl-radius-radius-radius4);
  padding-right: var(--dl-space-space-unit);
  padding-bottom: var(--dl-space-space-halfunit);
}
.blooket-hax-dropdown-toggle07:hover {
  fill: #fff;
  color: #fff;
  background-color: #595959;
}
.blooket-hax-text07 {
  width: 100%;
  cursor: pointer;
  display: flex;
  font-size: 14px;
  font-style: normal;
  font-weight: 500;
}
.blooket-hax-dropdown07 {
  cursor: pointer;
  display: inline-block;
  position: relative;
  border-radius: var(--dl-radius-radius-radius2);
}
.blooket-hax-dropdown-toggle08 {
  fill: #595959;
  color: #595959;
  width: 100%;
  display: inline-flex;
  transition: 0.3s;
  align-items: center;
  padding-top: var(--dl-space-space-halfunit);
  padding-left: var(--dl-space-space-unit);
  border-radius: var(--dl-radius-radius-radius4);
  padding-right: var(--dl-space-space-unit);
  padding-bottom: var(--dl-space-space-halfunit);
}
.blooket-hax-dropdown-toggle08:hover {
  fill: #fff;
  color: #fff;
  background-color: #595959;
}
.blooket-hax-text08 {
  width: 100%;
  cursor: pointer;
  display: flex;
  font-size: 14px;
  font-style: normal;
  font-weight: 500;
}
.blooket-hax-dropdown08 {
  cursor: pointer;
  display: inline-block;
  position: relative;
  border-radius: var(--dl-radius-radius-radius2);
}
.blooket-hax-dropdown-toggle09 {
  fill: #595959;
  color: #595959;
  width: 100%;
  display: inline-flex;
  transition: 0.3s;
  align-items: center;
  padding-top: var(--dl-space-space-halfunit);
  padding-left: var(--dl-space-space-unit);
  border-radius: var(--dl-radius-radius-radius4);
  padding-right: var(--dl-space-space-unit);
  padding-bottom: var(--dl-space-space-halfunit);
}
.blooket-hax-dropdown-toggle09:hover {
  fill: #fff;
  color: #fff;
  background-color: #595959;
}
.blooket-hax-text09 {
  width: 100%;
  cursor: pointer;
  display: flex;
  font-size: 14px;
  font-style: normal;
  font-weight: 500;
}
.blooket-hax-thq-dropdown3 {
  top: 102px;
  left: 450px;
  cursor: pointer;
  display: inline-block;
  position: absolute;
  border-radius: var(--dl-radius-radius-radius2);
}
.blooket-hax-dropdown-toggle10 {
  top: -3px;
  fill: #595959;
  left: -178px;
  color: #595959;
  width: 100%;
  display: inline-flex;
  position: absolute;
  align-items: center;
  padding-top: var(--dl-space-space-halfunit);
  padding-left: var(--dl-space-space-unit);
  border-radius: var(--dl-radius-radius-radius2);
  padding-right: var(--dl-space-space-unit);
  padding-bottom: var(--dl-space-space-halfunit);
}
.blooket-hax-text10 {
  top: -19px;
  right: -396px;
  position: absolute;
  font-size: 25px;
  font-style: normal;
  text-align: center;
  font-weight: 500;
  vertical-align: middle;
}
.blooket-hax-dropdown-arrow1 {
  top: 8px;
  right: 16px;
  position: absolute;
  transition: 0.3s;
}
.blooket-hax-icon2 {
  top: -11px;
  left: -23px;
  width: 18px;
  height: 18px;
  position: absolute;
  transition: 0.3s;
}
.blooket-hax-thq-dropdown4 {
  top: 102px;
  left: 450px;
  cursor: pointer;
  display: inline-block;
  position: absolute;
  border-radius: var(--dl-radius-radius-radius2);
}
.blooket-hax-dropdown-toggle11 {
  fill: #595959;
  color: #595959;
  right: -32px;
  width: 100%;
  bottom: -16px;
  display: inline-flex;
  position: absolute;
  align-items: center;
  padding-top: var(--dl-space-space-halfunit);
  padding-left: var(--dl-space-space-unit);
  border-radius: var(--dl-radius-radius-radius2);
  padding-right: var(--dl-space-space-unit);
  padding-bottom: var(--dl-space-space-halfunit);
}
.blooket-hax-text11 {
  top: -16px;
  right: -431px;
  position: absolute;
  font-size: 14px;
  font-style: normal;
  text-align: center;
  font-weight: 500;
  vertical-align: middle;
}
.blooket-hax-text12 {
  font-size: 25px;
}
.blooket-hax-dropdown-arrow2 {
  top: 8px;
  right: 16px;
  position: absolute;
  transition: 0.3s;
}
.blooket-hax-icon4 {
  right: -18px;
  width: 18px;
  bottom: -18px;
  height: 18px;
  position: absolute;
  transition: 0.3s;
}
.blooket-hax-dropdown-list3 {
  left: 0%;
  width: max-content;
  display: none;
  z-index: 100;
  position: absolute;
  min-width: 100%;
  transition: 0.3s;
  align-items: stretch;
  border-color: #D9D9D9;
  border-width: 1px;
  border-radius: var(--dl-radius-radius-radius4);
  flex-direction: column;
  list-style-type: none;
  background-color: var(--dl-color-gray-white);
  list-style-position: inside;
}
.blooket-hax-dropdown09 {
  cursor: pointer;
  display: inline-block;
  position: relative;
  border-radius: var(--dl-radius-radius-radius2);
}
.blooket-hax-dropdown-toggle12 {
  fill: #595959;
  color: #595959;
  width: 100%;
  display: inline-flex;
  transition: 0.3s;
  align-items: center;
  padding-top: var(--dl-space-space-halfunit);
  padding-left: var(--dl-space-space-unit);
  border-radius: var(--dl-radius-radius-radius4);
  padding-right: var(--dl-space-space-unit);
  padding-bottom: var(--dl-space-space-halfunit);
}
.blooket-hax-dropdown-toggle12:hover {
  fill: #fff;
  color: #fff;
  background-color: #595959;
}
.blooket-hax-text15 {
  width: 100%;
  cursor: pointer;
  display: flex;
  font-size: 14px;
  font-style: normal;
  font-weight: 500;
}
.blooket-hax-dropdown10 {
  cursor: pointer;
  display: inline-block;
  position: relative;
  border-radius: var(--dl-radius-radius-radius2);
}
.blooket-hax-dropdown-toggle13 {
  fill: #595959;
  color: #595959;
  width: 100%;
  display: inline-flex;
  transition: 0.3s;
  align-items: center;
  padding-top: var(--dl-space-space-halfunit);
  padding-left: var(--dl-space-space-unit);
  border-radius: var(--dl-radius-radius-radius4);
  padding-right: var(--dl-space-space-unit);
  padding-bottom: var(--dl-space-space-halfunit);
}
.blooket-hax-dropdown-toggle13:hover {
  fill: #fff;
  color: #fff;
  background-color: #595959;
}
.blooket-hax-text16 {
  width: 100%;
  cursor: pointer;
  display: flex;
  font-size: 14px;
  font-style: normal;
  font-weight: 500;
}
.blooket-hax-dropdown11 {
  cursor: pointer;
  display: inline-block;
  position: relative;
  border-radius: var(--dl-radius-radius-radius2);
}
.blooket-hax-dropdown-toggle14 {
  fill: #595959;
  color: #595959;
  width: 100%;
  display: inline-flex;
  transition: 0.3s;
  align-items: center;
  padding-top: var(--dl-space-space-halfunit);
  padding-left: var(--dl-space-space-unit);
  border-radius: var(--dl-radius-radius-radius4);
  padding-right: var(--dl-space-space-unit);
  padding-bottom: var(--dl-space-space-halfunit);
}
.blooket-hax-dropdown-toggle14:hover {
  fill: #fff;
  color: #fff;
  background-color: #595959;
}
.blooket-hax-text17 {
  width: 100%;
  cursor: pointer;
  display: flex;
  font-size: 14px;
  font-style: normal;
  font-weight: 500;
}
.blooket-hax-link {
  top: 121px;
  left: 608px;
  position: absolute;
  font-size: 20px;
}
.blooket-hax-container1 {
  width: 318px;
  height: 899px;
  display: flex;
  position: relative;
  align-self: flex-start;
  align-items: center;
  flex-direction: column;
  justify-content: center;
}
.blooket-hax-navlink {
  top: 214px;
  left: 99px;
  position: absolute;
  font-size: 25px;
  align-self: flex-start;
  font-family: Comic Sans MS;
  text-decoration: none;
}
.blooket-hax-nav-item {
  display: flex;
  margin-bottom: var(--dl-space-space-unit);
  flex-direction: column;
}
.blooket-hax-options {
  display: flex;
  position: relative;
  margin-left: var(--dl-space-space-unit);
  flex-direction: column;
}
.blooket-hax-navlink1 {
  top: -163px;
  left: -62px;
  position: absolute;
  font-size: 25px;
  font-family: Comic Sans MS;
  text-decoration: none;
}
.blooket-hax-nav-item1 {
  display: flex;
  margin-bottom: var(--dl-space-space-unit);
  flex-direction: column;
}
.blooket-hax-options1 {
  display: flex;
  position: relative;
  margin-left: var(--dl-space-space-unit);
  flex-direction: column;
}
.blooket-hax-navlink2 {
  top: -125px;
  left: -46px;
  position: absolute;
  font-size: 25px;
  font-family: Comic Sans MS;
  text-decoration: none;
}
.blooket-hax-navlink3 {
  top: -36px;
  left: -80px;
  position: absolute;
  font-size: 25px;
  font-family: Comic Sans MS;
  text-decoration: none;
}
.blooket-hax-nav-item2 {
  display: flex;
  margin-bottom: var(--dl-space-space-unit);
  flex-direction: column;
}
.blooket-hax-options2 {
  border: 2px dashed rgba(120, 120, 120, 0.4);
  display: flex;
  margin-left: var(--dl-space-space-unit);
  flex-direction: column;
}
.blooket-hax-navlink4 {
  top: 453px;
  left: 117px;
  position: absolute;
  font-size: 20px;
  text-decoration: none;
}
.blooket-hax-text18 {
  font-size: 25px;
  font-family: Comic Sans MS;
}
.blooket-hax-image {
  top: -5px;
  left: 35px;
  width: 245px;
  height: 216px;
  position: absolute;
  object-fit: cover;
}
.blooket-hax-text21 {
  left: 811px;
  bottom: 83px;
  position: absolute;
  font-size: 55px;
}
