.nppe-container {
  width: 100%;
  display: flex;
  overflow: auto;
  min-height: 100vh;
  align-items: flex-start;
  flex-direction: column;
  justify-content: flex-start;
}
.nppe-text {
  font-size: 25px;
}
.nppe-text2 {
  font-size: 25px;
}
