.other-goguardian-container {
  width: 100%;
  display: flex;
  overflow: auto;
  min-height: 100vh;
  align-items: center;
  flex-direction: column;
}
.other-goguardian-text {
  font-size: 35px;
}
.other-goguardian-text02 {
  font-size: 35px;
}
.other-goguardian-text03 {
  font-size: 35px;
}
.other-goguardian-text05 {
  font-size: 35px;
}
.other-goguardian-text07 {
  font-size: 35px;
}
.other-goguardian-text09 {
  font-size: 35px;
}
.other-goguardian-text11 {
  font-size: 35px;
}
.other-goguardian-text13 {
  font-size: 35px;
}
.other-goguardian-text14 {
  font-size: 35px;
}
.other-goguardian-text16 {
  font-size: 35px;
}
.other-goguardian-text18 {
  font-size: 35px;
}
.other-goguardian-text20 {
  font-size: 35px;
}
.other-goguardian-text22 {
  font-size: 35px;
}
.other-goguardian-text23 {
  font-size: 35px;
}
.other-goguardian-text25 {
  font-size: 35px;
}
.other-goguardian-text26 {
  font-size: 35px;
}
